/* CSS declarations go here */

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
ul li:not(.open){
	color:#666;	
}
ul li.open{
	color:#444;	
}

ul li:hover{
	cursor: pointer;
}
pre{
	border: solid 1px #ccc;
	padding: 20px;
	box-shadow: 3px 0 5px #ccc inset;
}